<h1>Editing my_model</h1>

<% form_for(@my_model) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @my_model %> |
<%= link_to 'Back', my_models_path %>
