<h1>Listing my_models</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% for my_model in @my_models %>
  <tr>
    <td><%=h my_model.title %></td>
    <td><%= link_to 'Show', my_model %></td>
    <td><%= link_to 'Edit', edit_my_model_path(my_model) %></td>
    <td><%= link_to 'Destroy', my_model, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New my_model', new_my_model_path %>
